<li>
	<form>
  <input type="text" disabled value="{{burger_name}}">
</form>

	<button class="change-devoured" data-id="{{ID}}" data-devoured="1">
		{{#if devoured}}Devoured{{else}}Devoure It!{{/if}}
	</button>

</li>
